.container {
  display: flex;
  background-color: pink;
  padding: 10px;
  font-size: 24px;
  color: aqua;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
}

.container div {
  padding: 25px;
  background-color: blueviolet;
  margin: 20px;
}

.item1 {
   order: 4;
   width: 200px;
   
}
.item2{
  order: 3;
  width: 200px;
}
.item3{
  order: 2;
  width: 300px;
}
.item4{
  order: 4;
  width: 200px;
}
.item5{
  order: 1;
  width: 200px;

}

.item6{
  order: 6;
  width: 200px;
}
.item7{
order: 7;

}
.item8{
order: 8;
width: 200px;
}

