.container {
  display: flex;
  background-color: pink;
  padding: 10px;
  font-size: 24px;
  color: aqua;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
}

.container div {
  padding: 25px;
  background-color: blueviolet;
  margin: 20px;
}

.item1 {
   flex-grow : 0;
}
.item2{
  flex-grow: 1;
}
.item3{
  flex-grow: 3;
}
.item6{
  flex-grow: 5;
}